:root {
  --black: #000000;
  --white: #ffffff;
  --light: #777;
  --red: #FB263B;
  --green: #66CC00;
  --purple: #D14AD9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: futura-pt, sans-serif;
  font-style: normal;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.pagination {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;

  width: 60%;
  max-width: 205px;

  .points {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .point {
      width: 5px;
      height: 5px;

      border-radius: 100%;

      &.color-0 {
        background-color: var(--light);
      }
      &.color-1 {
        background-color: var(--purple);
      }
      &.color-2 {
        background-color: var(--red);
      }
      &.color-3 {
        background-color: var(--green);
      }
      &.color-4 {
        background-color: var(--white);
      }
    }
  }
}
